
# ----------------------------------------------------------------------------
# Path to Z3 or Z3v2
# Notes: Use $$HOME instead of ~ here!
#        If you don't have Z3, i.e. on a MAC, define NOZ3 = true instead.
Z3       = $$HOME/z3
#Z3V2     = $$HOME/z3
#NOZ3     = true


# ----------------------------------------------------------------------------
# Autodetection of operating system.
# If autodetection fails, set OS to either "Linux" or "Darwin".
OS       = $(shell uname -s)


# ----------------------------------------------------------------------------
# Autodetection of OCAML Lib.
# If autodetection fails, set OCAMLLIB to point to the location of the
# OCAML standard library, i.e., "/usr/lib/ocaml".
OCAMLLIB = $(shell ocamlc -where)


# ----------------------------------------------------------------------------
# Autodetect current working directory
CWD      = $(CURDIR)

