
# ----------------------------------------------------------------------------
# Path to Z3 (optional)
# Notes: Use $$HOME instead of ~ here!
#Z3       = $$HOME/z3


# ----------------------------------------------------------------------------
# OS is autodeteted. If that fails, set OS to "Linux", "Darwin", or "Windows_NT"
# OS = Linux

# ----------------------------------------------------------------------------
# OCAML Lib is usually autodetected.
#OCAMLBIN = /usr/bin
#OCAMLBIN = /usr/local/ocaml/bin
#OCAMLLIB = /usr/lib/ocaml

# ----------------------------------------------------------------------------
# lablgtk2 installation directories
#LABLGTK2 = /usr/local/lib/ocaml/lablgtk2
#LABLLIBS = /usr/local/lib/ocaml/stublibs

#LABLGTK2 = /usr/local/lib/ocaml/site-lib/lablgtk2/
#LABLLIBS = /usr/local/lib/ocaml/site-lib/lablgtk2/

WITHOUT_LABLGTK = yes


# ----------------------------------------------------------------------------
# current working directory is usually autodetected
# CWD      = $(CURDIR)

