name: CI

on: [push, pull_request]

jobs:
  build_ubuntu:
    runs-on: ubuntu-18.04

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build setup
        run: ./setup-build.sh

      - name: Build
        run: ./build.sh

      - uses: actions/upload-artifact@v2
        with:
          name: binary_package
          path: upload

      - name: Set and push nightly tag
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: git tag -f nightly && git push --tags -f

      - name: Upload nightly release assets
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: actions/github-script@v5
        with:
          script: |
            await require('./upload-release-asset.js')({
              github,
              context,
              core,
              assetName: 'verifast-' + process.env.VFVERSION + '-linux.tar.gz',
              assetPath: 'upload/verifast-nightly.tar.gz',
              assetsToDeleteRegex: /-linux\.tar\.gz$/,
              tag: 'nightly'
            });

  build_macos:
    runs-on: macos-10.15

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Remove conflicting Python file (issue 223)
        run: rm /usr/local/bin/2to3

      - name: Build setup
        run: ./setup-build.sh

      - name: Build
        run: ./build.sh

      - uses: actions/upload-artifact@v2
        with:
          name: binary_package
          path: upload

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: vfide_libraries
          path: src/vfide-libraries.log

      - name: Set and push nightly tag
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: git tag -f nightly && git push --tags -f

      - name: Upload nightly release assets
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: actions/github-script@v5
        with:
          script: |
            await require('./upload-release-asset.js')({
              github,
              context,
              core,
              assetName: 'verifast-' + process.env.VFVERSION + '-macos.tar.gz',
              assetPath: 'upload/verifast-nightly-osx.tar.gz',
              assetsToDeleteRegex: /-macos\.tar\.gz$/,
              tag: 'nightly'
            });

  build_windows:
    runs-on: windows-2019

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Add vcvarsall to PATH
        run: echo "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Build setup
        run: ./setup-windows.bat

      - name: Build
        run: c:/cygwin/bin/bash -lc 'cd $GITHUB_WORKSPACE/src && make nightly VERBOSE=yes GTK=/cygdrive/c/vfdeps'

      - uses: actions/upload-artifact@v2
        with:
          name: binary_package
          path: src/verifast-nightly.zip

      - name: Set and push nightly tag
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        shell: bash
        run: git tag -f nightly && git push --tags -f

      - name: Upload nightly release assets
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: actions/github-script@v5
        with:
          script: |
            await require('./upload-release-asset.js')({
              github,
              context,
              core,
              assetName: 'verifast-' + process.env.VFVERSION + '-windows.zip',
              assetPath: 'upload/verifast-nightly.zip',
              assetsToDeleteRegex: /-windows\.zip$/,
              tag: 'nightly'
            });
