name: CI

on: [push, pull_request]

jobs:
  build_ubuntu:
    runs-on: ubuntu-18.04

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build setup
        run: ./setup-build.sh

      - name: Build
        run: ./build.sh

      - uses: actions/upload-artifact@v2
        with:
          name: binary_package
          path: upload

      - name: Upload to Cloud Storage
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: pip3 install google-cloud-storage && python3 upload.py
        env:
          GOOGLE_CLOUD_PLATFORM_CREDENTIALS: ${{ secrets.google_cloud_platform_credentials }}

  build_macos:
    runs-on: macos-10.15

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build setup
        run: ./setup-build.sh

      - name: Build
        run: ./build.sh

      - uses: actions/upload-artifact@v2
        with:
          name: binary_package
          path: upload

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: vfide_libraries
          path: src/vfide-libraries.log

      - name: Upload to Cloud Storage
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: pip3 install google-cloud-storage && python3 upload.py
        env:
          GOOGLE_CLOUD_PLATFORM_CREDENTIALS: ${{ secrets.google_cloud_platform_credentials }}

  build_windows:
    runs-on: windows-2019

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Do not convert LF to CRLF on checkout
        run: |
          git config core.autocrlf false
          git checkout .

      - name: Build setup
        run: ./setup-windows.bat

      - name: Build
        run: c:/cygwin/bin/bash -lc 'cd $GITHUB_WORKSPACE/src && make nightly VERBOSE=yes GTK=/cygdrive/c/vfdeps'

      - uses: actions/upload-artifact@v2
        with:
          name: binary_package
          path: verifast-nightly.zip

      - name: Prepare for upload to Cloud Storage
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: pip3 install google-cloud-storage

      - name: Upload to Cloud Storage
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: python3 upload.py
        env:
          GOOGLE_CLOUD_PLATFORM_CREDENTIALS: ${{ secrets.google_cloud_platform_credentials }}
