name: CI

on: [push, pull_request]

jobs:
  build_ubuntu:
    runs-on: ubuntu-18.04

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build setup
        run: ./setup-build.sh

      - name: Build
        run: ./build.sh

      - uses: actions/upload-artifact@v2
        with:
          name: binary_package
          path: upload

      - name: Upload to Cloud Storage
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: pip3 install google-cloud-storage && python3 upload.py
        env:
          GOOGLE_CLOUD_PLATFORM_CREDENTIALS: ${{ secrets.google_cloud_platform_credentials }}

  build_macos:
    runs-on: macos-10.15

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build setup
        run: ./setup-build.sh

      - name: Build
        run: ./build.sh

      - uses: actions/upload-artifact@v2
        with:
          name: binary_package
          path: upload

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: vfide_libraries
          path: src/vfide-libraries.log

      - name: Upload to Cloud Storage
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: pip3 install google-cloud-storage && python3 upload.py
        env:
          GOOGLE_CLOUD_PLATFORM_CREDENTIALS: ${{ secrets.google_cloud_platform_credentials }}
